/*
body {

  background: 
    linear-gradient(270deg, rgba(39, 216, 69, 0.822), rgba(29, 29, 214, 0.699), rgba(3, 233, 250, 0.459));
}
*/
.spectrumBackground {

    background-image: url(../img/logo.png);
    background: linear-gradient(270deg, #fc115f, #084081, #4d6fb8, #7697b3, #816a39, #916021, #ed17a6);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: 500% 500%;
    -webkit-animation: moveGradient 30s ease infinite;
    -moz-animation: moveGradient 30s ease infinite;
    -o-animation: moveGradient 30s ease infinite;
    animation: moveGradient 30s ease infinite;
    text-align: left;
    padding: 0 25% 20% 27%;
  
}

@keyframes moveGradient { 
    0%{background-position:100% 0%}
    50%{background-position:0% 100%}
    100%{background-position:100% 0%}
}
@-webkit-keyframes moveGradient {
    0%{background-position:100% 0%}
    50%{background-position:50% 100%}
    100%{background-position:100% 0%}
}
@-moz-keyframes moveGradient {
    0%{background-position:100% 0%}
    50%{background-position:0% 100%}
    100%{background-position:100% 0%}
}
@-o-keyframes moveGradient {
    0%{background-position:100% 0%}
    50%{background-position:0% 100%}
    100%{background-position:100% 0%}
}

.mainbody {
  font-size: 110%;
  text-indent: .25in;
}

a {
  color:rgb(25, 0, 255);
}

input[type=number]:hover, :focus {
  border: 3px solid rgb(46, 45, 45);
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input {
  border: 3px solid #ccc;
  padding: 15px;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: invert;
  color: black;
  font-size: 20pt;
  height: 20px;
  width: 175px;
  border-radius: 6px;
}

#myBtn {
  border: black;
  background-color: black;
  color: red;
  font-size: 20pt;
  height: 50px;
  width: auto;
  -webkit-transition-duration: 0.6s; /* Safari */
  transition-duration: 0.6s;
  border-radius: 6px;
}

#myBtn:hover {
  color: green;
  cursor: pointer;
  border-radius: 10%; 
}

#answerDisp {
font-weight: bold;
font-size: 15pt;
}
